/*
1. posicionamiento 
2. Modelo  de caja (ox model)
3. tipografia
4. Temas visuales ( sombras efectos )
5. otros
*/

:root{
    /*Colores*/
    --bitcoin-orange : #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', 'sans-serif';
}

header {
    background: linear-gradient(207.8deg,#2a2827 16.69%, #f7931a 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 300px;
    text-align: center;

}

header img {
    position: relative;
    width: 300px;
    min-width: 200px;
    height: 24px;
    margin-top: 100px;
    align-self: center;
}

.header-title-container{
    width: 90%;
    min-height: 288px;
    max-width: 900px;
    height: 218px;
    align-self: center;
    padding-top: 20px;
}

.header-title-container h1 {
    color: var(--just-white);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
}

.header-title-container p {
    font-family: 'DM Sans';
    font-weight: 500px;
    font-size: 14px;
    line-height: 18px;
    align-self: center;
    color: var(--soft-orange);
}

.header-title-container a {
    position: absolute;
    top: 225px;
    left: calc(50% - 115px);
    /* display: block; */
    margin-top: 35px;
    padding: 29px 0px 0px 0px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    border-radius: 15px;
    box-shadow: 0px 4px 8px 0px rgb(89, 70, 30, 0.16);
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--black);
    text-decoration: none;
}

.header-title-container a span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 5px;
    background-image: url('./assets/icons/down-arrow.svg') ;
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main--exchange {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main--exchange--titles{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main--exchange-image {
    background-image: url(./assets/img/Bitcoin.svg);
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    /* propiedades para evitar que la imagen se repita y siempre veamos su centro */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main--exchange--titles h2 {
    font-family: 'DM Sans';
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 2.6rem;
    color: var(--warm-black);
    margin-bottom: 25px;
}

.main--exchange p {
    font-family: 'DM Sans';
    font-weight: 500px;
    font-size: 14px;
    line-height: 18px;
    color: var(--warm-black);
}

/* tabla 1 */
.main--currency-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: 'Inter', 'sans-serif';
}

.main--currency-table .currency--table--title {
    color: var(--bitcoin-orange);
    font-family: 'Inter', 'sans-serif';
    font-weight: bold;
    font-size: 1.8rem;
    margin-top: 25px;
    text-align: center;
    
}

.main--currency-table .currency--table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.main--currency-table .currency--table--container table {
    width: 100%;
    height: 100%;
}

.currency--table--container table td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
    border-radius: 10px;
}

.currency--table--container .table__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.5rem;
    color: #757575;
}

.currency--table--container .table__right .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url('assets/icons/trending-down.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 5px;
}

.currency--table--container .table__right .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url('assets/icons/trending-up.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 5px;
}

.main--currency-table  .currency--table--date {
    background-color: var(--soft-orange);
    width: 200px;
    height: 40px;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 3px;

}

.main--currency-table  .currency--table--date p {
    font-family: 'Inter';
    font-size: 12px;
    color: var(--warm-black);

}

.main--container-comisiones .main--container--comisiones-title p {
    font-size: 1.8rem;
    font-family: 'Inter', 'Sans-serif';
    font-weight: 700;
    color: var(--secondary-blue);
    margin-top: 25px;
} 

.main--container-comisiones .main--container--comisiones-table {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;

}
.main--container-comisiones .main--container--comisiones-table table{

    width: 100%;
    height: 100%;

}

.main--container-comisiones .main--container--comisiones-table td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
    border-radius: 10px;

}

.main--currency-table-comisiones {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: 'Inter', 'sans-serif';
}

.main--currency-table-comisiones .currency--table--title-comisiones {
    color: var(--secondary-blue);
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 25px;

}

.main--currency-table-comisiones .currency--table--container-comisiones {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.main--currency-table-comisiones .currency--table--container-comisiones table {
    width: 100%;
    height: 100%;
}

.main--currency-table-comisiones .currency--table--container-comisiones table td {
    width: 50%;
    background-color: var(--just-white);
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--grey);
    line-height: 1.9rem;
}

.main--currency-table-comisiones .currency--table--container-comisiones table .table__right{
    font-weight: normal;
    color: #757575;
    font-size: 1.4rem;
}

.currency--table--date-comisiones {
    background-color: #cde1ef;
    height: 40px;
    width: 200px;
    margin: 0 auto;
    border-radius: 8px;
    margin-top: 15px;
    padding-top: 0.1px;


}

.currency--table--date-comisiones p {
    font-family: 'Inter';
    font-size: 12px;
    color: var(--black);

}

.--main--about-us {
    width: 100%;
    height: auto;
    background-color: var(--black);
    color: var(--just-white);
}

.--main--about-us .--main--about-us--icon {
    display: inline-block;
    position: absolute;
    background-image: url(assets/icons/batata.svg);
    width: 40px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    left: calc(50% - 20px);
    top: 1550px;
}

.--main--about-us .--main--about-us--title h3{
    padding-top: 40px;
    text-align: center;
    font-family: 'DM Sans', 'Sans-serif';
    font-size: 2.4rem;
    font-weight: 700;
}

.--main--about-us .--main--about-us--leyend p {
    color: var(--grey);
    text-align: center;
    font-family: 'DM Sans', 'Sans-serif' ;
    font-size: 1.6rem;

}
.--main--about-us .--main-about-us--chart {
    width: 90%;
    height: 150px;
    margin: 0 auto;
    background-color: var(--warm-black);
    border-color: #f7931a;
    padding-left: 15px;
    padding-top: 15px;
    margin-bottom: 10px;
}

.--main--about-us .--main-about-us--chart .time-icon {
    display: inline-block;
    background-image: url(assets/icons/clock.svg);
    width: 25px;
    height: 25px;
}

.--main--about-us .--main-about-us--chart h4 {
    margin-top: 3px;
    font-family: 'DM Sans', 'Sans-serif';
    font-size: 1.8rem;
    margin-bottom: 0px;
}

.--main--about-us .--main-about-us--chart p {
    font-family: 'DM Sans', 'Sans-serif' ;
    font-size: 1.6rem;
    color: var(--grey);
    margin-top: 10px;
} 

.--main--about-us .--main-about-us--chart .eye-icon {
    display: inline-block;
    height: 25px;
    width: 25px;
    background-image: url(assets/icons/eye.svg);
}

.--main--about-us .--main-about-us--chart .dollar-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(assets/icons/dollar-sign.svg);
}

.--main--about-us .--main-about-us--chart .check-icon{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(assets/icons/check-circle.svg);

}

.--main-planes-offers .bitcoinbaby {
    display: inline-block;
    width: 100%;
    height: 430px;
    background-image: url(assets/img/bitcoinbaby.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.--main-planes-offers h5{
    position: absolute;
    top: 2450px;
    left: calc(50% - 120px);
    font-family: 'DM Sans', 'Sans-serif' ;
    font-size: 3.2rem;
    color: var(--off-white);
}

.--main-planes-offers h4 {
    padding-top: 50px;
    font-family: 'DM Sans', 'Sans-serif' ;
    font-size: 2.4rem;
    text-align: center;
    font-weight: bold;
    line-height: 2.6rem;
}

.--main-planes-offers p {
    font-family: 'DM Sans', 'Sans-serif';
    font-weight: bold;
    font-size: 1.6rem;
    color: var(--grey);
    text-align: center;
    line-height: 2.0rem;
}

.--main-planes .--main-planes--card {
    margin: 0 auto;
    width: 60%;
    height: 270px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 8px rgb(89, 70, 30, 0.16);
}

.--main-planes .--main-planes--card  .recomended{
    position: absolute;
    left: calc(50% - 50px);
    text-decoration: none;
    width: 100px;
    height: 25px;
    margin-top: 10px;
    background-color: var(--bitcoin-orange);
    font-family: 'DM Sans', 'Sans-serif' ;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    color: var(--just-white);
    text-align: center;
    padding-top: 5px;
    box-shadow: 0px 4px 8px 0px rgb(89, 70, 30, 0.16);
}

.--main-planes .--main-planes--card  h5 {
    font-size: 1.2rem;
    padding-top: 50px;
    text-align: center;
    font-family: 'DM Sans', 'Sans-serif';
    font-weight: bold;
    margin-bottom: 0;
}

.--main-planes .--main-planes--card h4 {
    font-size: 5.1rem;
    text-align: center;
    font-family: 'DM Sans', 'Sans-serif';
    margin-top: 0;
    margin-bottom: 0;
}

.--main-planes .--main-planes--card .dolar-icon {
    font-size: 10px;
}

.--main-planes .--main-planes--card p {
    font-family: 'DM Sans', 'Sans-serif';
    font-weight: bold;
    color: var(--grey);
    font-size: 1.4rem;
    text-align: center;
    margin-top: 0;
}

.--main-planes .--main-planes--card .choose-this-one {
    position: absolute;
    left: calc(50% - 75px);
    text-decoration: none;
    width: 150px;
    height: 25px;
    margin-top: 10px;
    background-color: var(--soft-orange);
    border-color: var(--bitcoin-orange);
    border-style: solid;
    font-family: 'DM Sans', 'Sans-serif' ;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 5px;
    color: var(--black);
    text-align: center;
    padding-top: 0px;
    box-shadow: 0px 4px 8px 0px rgb(89, 70, 30, 0.16);
    padding-bottom: 3px;
}

.--main-planes .--main-planes--card .arrow-plan-icon {
    display: inline-block;
    background-image: url(assets/icons/orange-right-arrow.svg);
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
}

/* 
segunda targeta */

.--main-planes .--main-planes--card-basic {
    margin: 0 auto;
    width: 60%;
    height: 270px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 8px rgb(89, 70, 30, 0.16);
}

.--main-planes .--main-planes--card-basic  .recomended-basic{
    position: absolute;
    left: calc(50% - 50px);
    text-decoration: none;
    width: 100px;
    height: 25px;
    margin-top: 10px;
    background-color: #513977;
    font-family: 'DM Sans', 'Sans-serif' ;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    color: var(--just-white);
    text-align: center;
    padding-top: 5px;
    box-shadow: 0px 4px 8px 0px rgb(89, 70, 30, 0.16);
}

.--main-planes .--main-planes--card-basic  h5 {
font-size: 1.2rem;
padding-top: 50px;
    text-align: center;
    font-family: 'DM Sans', 'Sans-serif';
    font-weight: bold;
    margin-bottom: 0;
}

.--main-planes .--main-planes--card-basic h4 {
    font-size: 5.1rem;
    text-align: center;
    font-family: 'DM Sans', 'Sans-serif';
    margin-top: 0;
    margin-bottom: 0;
}

.--main-planes .--main-planes--card-basic .dolar-icon-basic {
    font-size: 10px;
}

.--main-planes .--main-planes--card-basic p {
    font-family: 'DM Sans', 'Sans-serif';
    font-weight: bold;
    color: var(--grey);
    font-size: 1.4rem;
    text-align: center;
    margin-top: 0;
}

.--main-planes .--main-planes--card-basic .choose-this-one-basic {
    position: absolute;
    left: calc(50% - 75px);
    text-decoration: none;
    width: 150px;
    height: 25px;
    margin-top: 10px;
    background-color: var(--just-white);
    border-color: #2e2043;
    border-style: solid;
    font-family: 'DM Sans', 'Sans-serif' ;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 5px;
    color: var(--black);
    text-align: center;
    padding-top: 0px;
    box-shadow: 0px 4px 8px 0px rgb(89, 70, 30, 0.16);
    padding-bottom: 3px;
}

.--main-planes .--main-planes--card-basic .arrow-plan-icon-basic {
    display: inline-block;
    background-image: url(assets/icons/orange-right-arrow.svg);
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
}

.--contact-us-section {
    background-color: var(--bitcoin-orange);
    width: 100%;
    height: 150px;
    padding-top: 50px;
    margin-top: 25px;
}

.--contact-us-section h5 {
    color: var(--just-white);
    font-family: 'DM Sans', 'Sans-serif' ;
    font-size: 1.8rem;
    padding-left: 40px;
    margin: 0;

}

.--contact-us-section .--footer-logo {
    position: absolute;
    left: calc(50% + 30px);
    top: 3740px;
    display: inline-block;
    background-image: url(assets/img/logo-footer.svg);
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}